<div class="container-fluid">
  <div class="card-table">
    <div class="card-product">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>SNO</th>
            <th>Author</th>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
            <th>Published At</th>

            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.author | slice : 0 : 7 }}</td>
            <td>{{ item.title | slice : 0 : 6 }}</td>
            <td>{{ item.description | slice : 0 : 10 }}</td>
            <td>
              <img
                [src]="item.urlToImage"
                style="width: 200px; height: 100px"
              />
            </td>
            <td>{{ item.publishedAt }}</td>
            <td>
              <button (click)="removeitem(item)">
                <i class="bi bi-trash3-fill remove_icon"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
